<details class="collapse bg-base-100 border-base-300 border">
  <summary class="collapse-title font-semibold text-xl">Conceptos del comprobante</summary>
  <div class="collapse-content text-sm">
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <tr>
          <th>Clave Producto/Servicio</th>
          <th>Unidad</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th>Valor Unitario</th>
          <th>Importe</th>
          <th>Descuento</th>
          <th>Impuesto</th>
        </tr>
          @for (concepto of ctos(); track $index) {
            <tr>
              <td>{{ concepto.claveProdServ }}</td>
              <td>{{ concepto.unidad }}</td>
              <td>{{ concepto.cantidad }}</td>
              <td>{{ concepto.descripcion }}</td>
              <td>{{ concepto.valorUnitario | currency}}</td>
              <td>{{ concepto.importe | currency }}</td>
              <td>{{ concepto.descuento | currency  }}</td>
              <td>{{ concepto.objetoImp }}</td>
            </tr>
          }@empty {
            <p class="text-sm text-gray-500 p-2">No se encontraron conceptos para este CFDI.</p>
          }
      </table>
    </div>
  </div>
</details>
