<dialog #myModalFile class="modal" (close)="resetForm()">
  <div class="modal-box">
    <h2 class="text-lg font-bold">Importar Comprobante</h2>
    <br>
    <form autocomplete="off" [formGroup]="formFile" (ngSubmit)="onSubmit()">
      @if (errorMessage()) {
        <div role="alert" class="alert alert-vertical sm:alert-horizontal alert-error alert-soft" id="mi-alert">
          <div>
            <h3 class="font-bold">Ocurrió un error!</h3>
            <div class="text-xs">{{ errorMessage() }}</div>
          </div>
          <button (click)="dismissError()"
                  class="btn btn-sm btn-circle btn-ghost"
                  type="button">✕</button>
        </div>
      }
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Seleccione un archivo</legend>
        <input #fileInput
               type="file"
               accept="text/xml, application/xml"
               class="file-input w-full"
               (change)="onFileChange($event)" />
        <span class="label text-error">Archivos tipo XML</span>
      </fieldset>
      <div class="modal-action">
          <button class="btn btn-secondary btn-xs sm:btn-sm md:btn-md lg:btn-md xl:btn-md mr-2"
                  (click)="close()"
                  type="button">Cancelar</button>
          <button type="submit"
                  class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-md xl:btn-md"
                  [disabled]="formFile.invalid || isLoading()">
            {{ isLoading() ? 'Guardando...' : 'Guardar' }}
          </button>
      </div>
    </form>
  </div>
</dialog>
