<nav class="p-4 w-full">
  <nav class="navbar-start">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
      <li>
        <button class="btn"
           routerLink="by-list-page"
           routerLinkActive="btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="20"
               height="20"
               viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z"
                  fill="none" />
            <path fill="none"
                  stroke="currentColor"
                  d="M20 13v-2.343c0-.818 0-1.226-.152-1.594c-.152-.367-.441-.657-1.02-1.235l-4.736-4.736c-.499-.499-.748-.748-1.058-.896a2 2 0 0 0-.197-.082C12.514 2 12.161 2 11.456 2c-3.245 0-4.868 0-5.967.886a4 4 0 0 0-.603.603C4 4.59 4 6.211 4 9.456V13m9-10.5V3c0 2.828 0 4.243.879 5.121C14.757 9 16.172 9 19 9h.5m-9 13v-6l2 3l2-3v6m2.5-6v4c0 .943 0 1.414.293 1.707S18.057 22 19 22h1M4 16l2 3m0 0l2 3m-2-3l2-3m-2 3l-2 3"/>
          </svg>
          Listar Comprobantes
        </button>
      </li>
    </ul>
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
      <li>
        <button class="btn"
           routerLink="by-carga-comp"
           routerLinkActive="btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="20"
               height="20"
               viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z"
                  fill="none" />
            <path fill="none"
                  stroke="currentColor"
                  d="M11.5 17.77h1v-4.695l2.1 2.1l.708-.713L12 11.154l-3.308 3.308l.714.707l2.094-2.094zM6.616 21q-.691 0-1.153-.462T5 19.385V4.615q0-.69.463-1.152T6.616 3H14.5L19 7.5v11.885q0 .69-.462 1.153T17.384 21zM14 8V4H6.616q-.231 0-.424.192T6 4.615v14.77q0 .23.192.423t.423.192h10.77q.23 0 .423-.192t.192-.424V8zM6 4v4zv16z"/>
          </svg>
          Cargar comprobante
        </button>
      </li>
    </ul>
  </nav>
  <nav class="navbar-end">
    <a class="btn btn-error"
        (click)="goExit()">
      <svg xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z"
              fill="none" />
        <path fill="none"
              stroke="currentColor"
              d="M15 4.001H5v14a2 2 0 0 0 2 2h8m1-5l3-3m0 0l-3-3m3 3H9"/>
      </svg>
      Salir
    </a>
  </nav>
</nav>
